@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.title {
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
}

.searchbarcontainer {
    margin-bottom: 20px;
}

.movieCardContainer {
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
}
  
.moviesContainer {
    padding: 20px;
}
  
@media (max-width: 576px) {
.moviesContainer {
    padding: 5px;;
    }
}