/* SearchBar.module.css */

.searchbar {
  display: flex;
  max-width: 80%;
  margin: 0 auto; /* Centra horizontalmente la barra de búsqueda */
  padding: 10px; /* Añade un poco de espacio alrededor de la barra de búsqueda */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  align-items: center; /* Centra verticalmente los elementos en la barra de búsqueda */
}

.searchbar input {
  flex-grow: 1; /* Hace que el input ocupe el espacio restante disponible */
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  padding: 8px; /* Ajusta el espacio interno del input */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
  margin-right: 10px; /* Añade espacio entre el input y el botón */
}

.searchbar button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; /* Ajusta el tamaño del texto según sea necesario */
}
