@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

/* MovieDetail.module.css */

.movieDetailContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px; /* Aumenta el margen superior para más espacio */
  }
  
  .movieImage {
    max-width: 400px; /* Ajusta el ancho máximo de la imagen según sea necesario */
    margin-right: 40px; /* Aumenta el margen entre la imagen y los detalles */
  }
  
  .movieDetails {
    max-width: 600px;
  }

.titulo {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
    font-size: 36px; /* Ajusta el tamaño del título según sea necesario */
  }
  
  .detalles {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px; /* Ajusta el tamaño del texto de los detalles según sea necesario */
  }

  .volverButton {
    background-color: black;
    color: white;
    padding: 10px 20px; /* Ajusta el relleno del botón según sea necesario */
    font-size: 16px; /* Ajusta el tamaño del texto del botón según sea necesario */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Añade una transición de color suave */
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .volverButton:hover {
    background-color: #333; /* Cambia el color de fondo al pasar el ratón sobre el botón */
  }
  
  