@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

.movieDetailContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.movieImage {
    max-width: 400px;
    margin-right: 40px;
}

.movieDetails {
    max-width: 600px;
}

.titulo {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
    font-size: 36px;
}

.detalles {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.volverButton {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    margin-top: 20px;
}

.volverButton:hover {
    background-color: #333;
}

@media only screen and (max-width: 768px) {
    .movieDetailContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .movieImage {
        max-width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .movieDetails {
        text-align: center;
        max-width: 80%;
    }
}

@media only screen and (max-width: 576px) {
    .movieDetails {
        max-width: 100%;
    }
}
